.roadmap-section {
  font-family: 'Amatic SC', cursive;
  font-size: x-large;
  font-weight: 700;

  details>summary {
    list-style: none;
    cursor: pointer;

    &:hover {
      h2 {
        color: crimson;
      }
    }

    h2 {
      text-align: center;
      font-size: xx-large;
    }

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }
  }
}