.single-faq {
  .question:hover {
    cursor: pointer;
    color: crimson;
  }

  font-family: 'Amatic SC',
  cursive;
  font-size: x-large;
  font-weight: 700;

  details>summary {
    list-style: none;
  }

  details>summary::marker,
  details>summary::-webkit-details-marker {
    display: none;
  }
}