.single-faq {
  .question:hover {
    cursor: pointer;
    color: crimson;
  }

  details>summary {
    list-style: none;
  }

  details>summary::marker,
  details>summary::-webkit-details-marker {
    display: none;
  }
}