@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

$max-content-width: 1925px;

body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.column {
  padding-top: 700px;
}

.inline-link {
  color: currentColor;
  text-decoration-thickness: 3px;

  &:hover {
    color: crimson;
  }
}

header {
  display: flex;
  justify-content: center;

  .full-logo {
    width: 50vw;
    min-width: 250px;
    max-width: 560px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
  }
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.25pt;
  color: white;
  max-width: $max-content-width;
  margin-top: 3em;


  .wings-wrapper {
    width: calc(250px + 1vw);
    display: flex;
    align-items: center;
    margin-right: 2em;

    .wings {
      width: 100%;
      height: fit-content;
    }
  }

  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 325px;
    flex-grow: 1;
    min-width: 200px;
    font-size: calc(12px + 0.5vw);
  }
}

.team {
  color: white;
  max-width: $max-content-width;
  text-align: center;

  h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
  }

  .team-cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}