@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$max-content-width: 1925px;

body {
  margin: 0;
  padding: 0;
}

.main-container {
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;

  .full-logo {
    min-width: 150px;
    width: 30em;
  }
}

.about {
  border: 1px solid red;
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.1pt;
  color: white;
  max-width: $max-content-width;

  .wings {
    width: 40%;
    min-width: 330px;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 500px;
    min-width: 300px;
  }
}

.team {
  color: white;
  max-width: $max-content-width;
  border: 1px solid green;
  text-align: center;

  h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5em;
  }

  .team-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    // text-align: left;
  }
}