$svg-icon-size: 1.3em;

$footer-content-padding: 1em;
$logos-width: 90px;
$text-margin: 0.5em;
$border-width: 4px;
$footer-height: calc((2 * $footer-content-padding) + $logos-width + (3 * 18.5px) + (4 * $text-margin) + $border-width);

footer {
  display: flex;
  justify-content: center;
  background-color: black;
  border-top: $border-width solid #660000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .admin-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 0;

    &:hover {
      opacity: 100%;
    }

    svg {
      width: 30px;
      height: 30px;
      color: #660000;
    }
  }

  .footer-content-wrapper {
    display: flex;
    flex-direction: column;
    padding: $footer-content-padding 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;

    .footer-logos {
      display: flex;
      justify-content: space-evenly;

      .hands {
        width: $logos-width;
      }

      .footer-logo {
        height: $logos-width;
        width: $logos-width;
      }
    }

    .footer-text {
      &>* {
        margin: 0.5em 0;
      }

      .indent {
        margin-left: 2em;
      }

      .indent-socials {
        display: flex;
        align-items: center;
      }
    }
  }
}