.mint {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;

  h1 {
    font-family: 'Permanent Marker', cursive;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
  }

  .coming-soon {
    flex-basis: content;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
      position: relative;
      top: -15px;
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
    }
  }

  .column {
    padding-top: 6em;
  }
}