$svg-icon-size:calc(1em + .3vw);

.social-icons {
  display: flex;
  // display: none;

  svg {
    margin: 0 0.5em;
    width: $svg-icon-size;
    height: $svg-icon-size;

    &:hover {
      color: crimson;
      cursor: pointer;
    }
  }
}