@use "Nav";
@use "Footer";

$content-padding: 1em;

.page-wrapper {
  position: relative;
  background: linear-gradient(#020C1F,
      #0F285A 20%,
      #2987BB 60%,
      #DD914E 85%,
      #A93A3A);
  min-height: 100vh;
  padding-top: calc(Nav.$nav-height + $content-padding);
  padding-bottom: calc(Footer.$footer-height + $content-padding);
  box-sizing: border-box;
}


@media only screen and (max-width: 725px) {
  .page-wrapper {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}

@media only screen and (min-width: 725px) {
  .page-wrapper {
    padding-left: 20%;
    padding-right: 20%;
  }
}