$dropdown-speed: 200ms;

nav.nav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;

  background: linear-gradient(black, rgb(0, 0, 0, 0));

  font-family: 'Permanent Marker', cursive;
  font-size: calc(12px + 0.5vw);
  color: white;

  .hands {
    min-width: 55px;
    width: 5%;
    max-width: 80px;
    margin: 10px 1.5em;
  }

  .nav-link {
    color: currentColor;
    text-decoration: none;
    filter: drop-shadow(0 0 12px #000000);

    &:hover {
      color: crimson;
    }
  }


  .bi-list {
    &:hover {
      color: crimson;
      cursor: pointer;
    }
  }
}

.nav-links.shown {
  margin-top: 0;
  opacity: 100%;
  transition-property: opacity, margin-top;
  transition-duration: $dropdown-speed;
}

@media only screen and (max-width: 725px) {
  .nav {
    flex-direction: column;
  }

  .nav-links {
    filter: drop-shadow(0 0 40px black);
    margin-top: -250px;
    opacity: 0;
    z-index: -1;

    transition-property: opacity, margin-top;
    transition-duration: $dropdown-speed;

    .nav-link {
      display: block;
      margin: 0.5em 1.5em;
      font-size: x-large;
    }
  }

  .social-icons {
    display: none;
  }

  .bi-list {
    position: absolute;
    top: 1.5em;
    right: 1em;
    width: 32px;
    height: 32px;
  }
}

@media only screen and (min-width: 725px) {
  .nav {
    align-items: center;
  }

  .nav-links {
    display: flex;

    .nav-link {
      margin: 0 20px;
    }
  }

  .social-icons {
    margin-left: auto;
    margin-right: 1em;
  }

  .bi-list {
    display: none;
  }
}