.faq {
  h1 {
    font-family: 'Permanent Marker', cursive;
    border-bottom: 1px solid white;
    text-align: center;
  }

  .drop-tip {
    opacity: 60%;
    font-size: large;
    text-align: center;
  }
}